<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>content1</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="/css/exchange/reset.css" />
    <link rel="stylesheet" href="/css/exchange/exchangeRateMain.css" />
</head>
<body>
    <div class="container">
        <h2 class="title">
            환율 계산
        </h2>
            <div class="subContainer">
            <div class="item"><span>송금국가 :&nbsp 미국(USD)</span></div>
            <div class="item">수취국가 :&nbsp
                <select class="select" name="recipientCountryList" id="recipientCountryList">
                    <option th:each="recipientCountry: ${recipientCountryList}"
                        th:selected="${recipientCountry.recipientCountry == 'KRW'}"
                        th:value="${recipientCountry.recipientCountry}"
                        th:text="${recipientCountry.recipientCountryName}" >
                    </option>
                </select>
                <div class="errorContainer">
                    <span class="errorMsg"></span>
                </div>
            </div>
            <div class="item exchange">환율 :&nbsp<span id="exchangeRate">1,000.00&nbsp</span><dd>KRW</dd>/USD</div>
            <div class="item">송금액 :&nbsp<input type="text" value="1000"> USD</div>
            <button class="myButton" type="submit">Submit</button>
        </div>
    </div>


</body>
<script type="text/javascript" src="/js/exchange/exchangeRateMain.js"></script>
</html>
