<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>content1</title>
    <link rel="stylesheet" href="/css/exchange/exchangeRateMain.css" />
    <script type="text/javascript" src="/js/exchange/exchangeRateMain.js"></script>
</head>
<body>
    <div class="container">
        <h2 class="title">
            환율 계산
        </h2>
        <div>
            <span>송금국가 : 미국(USD)</span>
            <span>[[${countryList}]]</span>
        </div>
    </div>
</body>
</html>
